<div class="row justify-content-start">
  <div class="col col-4">
    <h3>Task Manager</h3>
  </div>
</div>
<div class="row justify-content-start">
    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="col col-1"><a class ="navbar-brand" routerLink="/addTask">Add Task</a></div>
  
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col col-1"><a class ="navbar-brand" routerLink="/viewTask">View Task</a></div>
    </nav>
</div>
<br>
<br>
<!--<app-viewtask></app-viewtask>
<app-addtask></app-addtask>-->
<router-outlet></router-outlet>
